*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body{
  background-color: rgb(173, 175, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main{
  width: 450px;
  margin-top: auto;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px;
}
button{
  cursor: pointer;
}