.todo{
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e7e7e7;
  &.success{
    background-color: rgb(97, 164, 97);
  }
  &__title{
    font-size: 18px;
    font-weight: 550;
    color: black;
    margin-bottom: 10px;
  }
  &__data{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__date{
    opacity: 0.7;
  }
  &__icons{
    display: flex;
    align-items: center;
    gap: 5px;
    .btn{
      padding: 5px 8px;
      border: none;
      color: white;
      border-radius: 3px;
      &__success{
        background-color: green;
        &:hover{
          background-color: darken(green, 5%);
        }
      }
      &__warning{
        background-color: rgb(193, 193, 17);
        &:hover{
          background-color: darken(rgb(193, 193, 17), 5%);
        }
        
      }
      &__danger{
        background-color: rgb(206, 17, 17);
        &:hover{
          background-color: darken(rgb(206, 17, 17), 5%);
        }
      }
      &__info{
        background-color: rgb(101, 101, 237);
        &:hover{
          background-color: darken(rgb(101, 101, 237), 5%);
        }
      }
    }
  }
}